
.editor{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 10rem 0 3rem 10rem;
    background: hsl(0, 26%, 96%);
    z-index: 2;
}

.editor h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: -4rem;
}

.editor .container{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.editor .container .container-left{
    flex-basis: 50%;
}

.editor .container .container-left h3{
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
}

.editor .container .container-left p{
    font-size: 1.2rem;
    margin-bottom: 3rem;
    font-weight: 300;
}

.editor .container .container-right{
    position: relative;
    flex-basis: 50%;
}

.editor .container .container-right .desktop-editor{
    width: 150%;
    position: relative;
}

.editor .container .container-right .mobile-editor{
    display: none;
}