
.laptop{
    width: 100%;
    position: relative;
    padding: 15rem 10rem 15rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: hsl(0, 26%, 96%);
    z-index: 2;
}

.laptop .laptop-left{
    flex-basis: 50%;
    position: relative;
}

.laptop .laptop-left .desktop-illustration{
    width: 150%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -16rem;
}

.laptop .laptop-left .mobile-illustration{
    display: none;
}

.laptop .laptop-right{
    flex-basis: 40%;
    position: relative;
}

.laptop  h3{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.laptop .laptop-right p{
    font-size: .95rem;
    margin-bottom: 3rem;
    font-weight: 300;
}
