
@media (max-width: 990px){
    .redtop{
        background: url(../images/bg-pattern-intro.svg);
        background-position: center;
        background-size: 400%;
        padding: 4rem 1.5rem;
        background-color: hsl(353, 100%, 62%);
    }

    .redtop .navbar{
        justify-content: space-between;
    }

    .redtop .navbar .site-nav{
        display: none;
    }

    .redtop .navbar .register{
        display: none;
    }

    .redtop .redtop-modern .start-learn-btns li .start{
        padding: 1rem;
        font-size: .8rem;
        display: block;
    }

    .redtop .redtop-modern .start-learn-btns li .learn{
        padding: 1rem;
        font-size: .8rem;
        display: block;
    }

    .redtop .navbar #mobilemenu{
        display: block;
    }

    .redtop .redtop-modern{
        padding: 0 1.5rem;
    }

    .redtop .redtop-modern h1{
        font-size: 2.3rem;
    }

    .redtop .redtop-modern p{
        margin-bottom: 4rem;
    }

    .redtop .redtop-modern .start-learn-btns li a{
        padding: 1.2rem 1.5rem;
        font-size: 1rem;
    }

    .editor{
        padding: 4rem 2rem 8rem;
    }

    .editor h2{
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .editor .container{
        flex-wrap: wrap;
    }

    .editor .container .container-right {
        position: relative;
        flex-basis: 100%;
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .editor .container .container-right .desktop-editor{
        display: none;
    }

    .editor .container .container-right .mobile-editor{
        display: block;
        width: 110%;
        margin-bottom: 1.5rem;
    }

    .editor .container .container-left {
        flex-basis: 100%;
        order: 2;
        text-align: center;
        margin-bottom: 3rem;
    }

    .editor .container .container-left h3{
        margin-bottom: 1rem;
    }

    .editor .container .container-left p{
        font-size: 1.1rem;
        margin-bottom: 3rem;
    }

    .phones{
        padding: 8rem 2rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .phones .phones-right{
        flex-basis: 100%;
        text-align: center;
        margin-top: 6rem;
    }

    .phones .phones-left .phone{
        position: absolute;
        left: 125%;
        transform: translateX(-50%);
        top: -19rem;
        z-index: 3;
        width: 375px;
    }

    .features{
        padding: 4rem 2rem;
        flex-wrap: wrap;
    }

    .features .features-leftcolumn{
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .features .features-leftcolumn .desktop-illustration{
        display: none;
    }

    .features .features-leftcolumn .mobile-illustration{
        display: block;
        width: 130%;
        margin-bottom: 1.5rem;
    }

    .features .features-rightcolumn{
        flex-basis: 100%;
        text-align: center;
    }

    .features .features-rightcolumn h5{
        font-size: 1.7rem;
    }

    footer{
        padding: 4rem 0 6rem;
        flex-wrap: wrap;
    }

    footer .footer-box{
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }

    footer .attribution{
        font-size: .9rem;
    }

    footer .attribution a{
        font-size: .9rem;
    }

    #mobile{
        display: block;
        position: absolute;
        top: 8.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        padding: 2rem 1.5rem;
        background: hsl(0, 0%, 100%);
        box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.3);
        text-align: center;
        border: none;
        border-radius: .5rem;
        z-index: 10;
        transition: .5s;
    }

    .mobile ul li{
        list-style: none;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile ul li a{
        text-decoration: none;
        color: hsl(240, 10%, 16%);
        font-size: 1.2rem;
        font-weight: 300;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
    }

    .mobile ul li img{
        margin-left: .5rem;
        transition: .5s;
    }

    .mobile ul li:nth-child(3){
        position: relative;
    }

    .mobile ul li:hover img{
        transform: rotate(-180deg);
    }

    .mobile ul .connect{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile ul .connect .connect-text{
        display: flex;
        align-items: center;
    }

    .mobile ul .connect .mobile-menu-list{
        background: hsl(0, 10%, 92%);
        padding: 1.5rem 0;
        width: 100%;
        border-radius: .5rem;
        display: none;
        transition: 2s;
    }

    .mobile ul .connect:hover .mobile-menu-list{
        display: block;
    }

    .mobile ul .connect .mobile-menu-list li:last-child{
        margin-bottom: 0;
    }

    .mobile ul hr{
        display: block;
        border: none;
        border-top: 1px solid hsl(0, 4%, 85%);
        margin: 2rem auto 2rem;
        width: 100%;
    }

    .mobile ul .signup{
        margin-bottom: 0;
    }

    .mobile ul .signup a{
        padding: .8rem 2.5rem;
        background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
        color: hsl(0, 0%, 100%);
        border-radius: 2rem;
        transition: .5s;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
    }

    .mobile ul .signup a:hover{
        background: linear-gradient(90deg, hsl(353, 100%, 62%), hsl(13, 100%, 72%));
    }
}
