
@media (max-width: 320px){
    .redtop .redtop-modern h1{
        font-size: 1.9rem;
    }

    .redtop .redtop-modern .start-learn-btns li .start{
        padding: 1rem;
        font-size: .8rem;
    }

    .redtop .redtop-modern .start-learn-btns li .learn{
        padding: 1rem;
        font-size: .8rem;
    }

    .editor h2{
        font-size: 1.5rem;
    }

    .editor .container .container-left h3{
        font-size: 1.5rem;
    }

    .phones .phones-left .phone{
        width: 320px;
    }

    .phones .phones-right{
        margin-top: 2rem;
    }

    .phones .phones-right h4{
        font-size: 2.1rem;
    }

}